---
title: 11ty Recipes
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "partials/meta.njk" %}
  <link rel="preload" href="/fonts/inter-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <style>
    {% include "../../_site/css/style.css" %}
  </style>
  <script src="https://cdn.usefathom.com/script.js" data-site="QHBLODVU" defer></script>
</head>
<body>

<header>
  <div class="er-container er-space-between">
    <a href="/" class="er-inline-flex-row">
      <img src="/images/logos/possum.svg" alt="A delightful cartoon possum wearing a chef's hat. A chef's knife and spoon are crossed beneath him." class="er-logo" width="150" height="150">
      <img src="/images/logos/wordmark.svg" alt="Eleventy Recipes Wordmark" class="er-wordmark" width="250" height="39">
    </a>
    <h1 class="sr-only">Eleventy Recipes</h1>
    <nav>
      <a href="/about/">About</a>
    </nav>
  </div>
</header>

<main>
  {% if title != '11ty Recipes' %}
  <h2>{{ title }}</h2>
  {% endif %}
  {% if authorName %}
    <p class="er-author">By <a href="{{ authorUrl }}">{{ authorName }}</a></p>
  {% endif %}
  {{ content | safe }}
</main>

<footer>
  <p>Got an idea for a recipe? <a href="https://github.com/peruvianidol/11ty-recipes">Contribute on Github</a></p>
</footer>

</body>
</html>