---
title: 11ty Recipes
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="/css/style.css" rel="stylesheet"> 
</head>
<body>

<main>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>

</body>
</html>