---
title: 11ty Recipes
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="/css/style.css" rel="stylesheet"> 
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>
<body>

<header>
  <h1><a href="/"><span>11ty</span><span class="dot">&middot;</span><span>Recipes</span></a></h1>
</header>

<main>
  {% if title != '11ty Recipes' %}
  <h2>{{ title }}</h2>
  {% endif %}
  {{ content | safe }}
</main>

</body>
</html>