@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --pink: #ffa9a9;
  --black: #222222;
  --white: #ffffff;
  --blue: #5276b7;
  --red: #ca3b35;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 65ch) minmax(1rem, 1fr);
  grid-template-areas:
  "header header header"
  ". main ."
  ". footer .";
  font-family: Inter, sans-serif;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--black);
}

input[type="checkbox"] {
  border: 1px solid gainsboro;
  width: 1.25rem;
  height: 1.25rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--blue);
}

h1 {
  margin: 0;
  line-height: 0;
}

h1 a {
  display: block;
}

h1 img {
  display: inline-block;
}

h2, h3, h4, p, ul, ol {
  margin: 0 0 1.5rem 0;
}

ul, ol {
  padding-left: 1.5rem;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
}

header {
  background-color: var(--blue);
  color: var(--white);
  grid-area: header;
  padding: .5rem 0;
  margin-bottom: 2rem;
}

nav a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-color: var(--color-white);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

footer p {
  margin: 0;
}

ol > li:not(:last-child) {
  margin-bottom: 1rem;
}

.er-container {
  max-width: 65ch;
  margin: 0 auto;
}

.er-inline-flex-row {
  display: inline-flex;
  align-items: center;
}

.er-inline-flex-row > :not(:last-child) {
  margin-right: 1rem;
}

.er-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.er-logo {
  width: 100px;
  height: auto;
}

.er-wordmark {
  width: 150px;
  height: auto;
}

.er-author {
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.highlight-line {
  opacity: .6;
}

.highlight-line.highlight-line-active {
  opacity: 1;
  color: inherit;
}

mark {
  background-color: inherit;
}

@media (min-width: 600px) {
  header {
    padding: 1rem 0;
  }

  .er-logo {
    width: 150px;
  }
  
  .er-wordmark {
    width: 250px;
  }
}