@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/inter-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/inter-semibold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --pink: #ffa9a9;
  --black: #222222;
  --white: #ffffff;
  --blue: #5276b7;
  --red: #ca3b35;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 65ch) minmax(1rem, 1fr);
  grid-template-areas:
  "header header header"
  ". main ."
  ". footer .";
  font-family: Inter, sans-serif;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--black);
}

input[type="checkbox"] {
  border: 1px solid gainsboro;
  width: 1.25rem;
  height: 1.25rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--blue);
}

h1 {
  margin: 0;
  line-height: 0;
}

h1 a {
  display: block;
}

h1 img {
  display: inline-block;
}

h2, h3, h4, p, ul, ol {
  margin: 0 0 1.5rem 0;
}

ul, ol {
  padding-left: 1.5rem;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
}

header {
  background-color: var(--blue);
  color: var(--white);
  grid-area: header;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

header .er-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a {
  color: inherit;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-color: var(--color-white);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

footer p {
  margin: 0;
}

ol > li:not(:last-child) {
  margin-bottom: 1rem;
}

.er-container {
  max-width: 65ch;
  margin: 0 auto;
}

.er-inline-flex-row {
  display: inline-flex;
  align-items: center;
}

.er-inline-flex-row > :not(:last-child) {
  margin-right: 1rem;
}

.er-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.er-space-between > :not(:last-child) {
  margin-right: 1rem;
}

.er-logo {
  width: 100px;
  height: auto;
}

.er-wordmark {
  width: 150px;
  height: auto;
}

.er-author {
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.highlight-line {
  opacity: .6;
}

.highlight-line.highlight-line-active {
  opacity: 1;
  color: inherit;
}

.token.title.important {
  color: inherit;
}

mark {
  background-color: inherit;
}


/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #272822;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #f8f8f2;
 }
 
 .token.namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }
 
 .token.boolean,
 .token.number {
   color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #e6db74;
 }
 
 .token.keyword {
   color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
   color: #fd971f;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 